In [22]:
import pandas as pd
import numpy as np
#from get_data_from_nbaApi import get_player_bio
#from Scrape_data_from_ESPN import get_players_PER_stats, url_params

The data was prepared using the main.py script, which calls:

get_data_from_nbaApi.py - Raw data from NBA API. <br>
Scrape_data_from_ESPN.py - Scraped data from ESPN website. <br>
data_handle.py - Combine the scripts, adds calculations, continent and more. <br>

The data was pulled starting from 2003 season <br>
Let's have a look at the data

In [84]:
df = pd.read_csv('final_df.csv')
print(df.head())
print(df.describe())
print(df.isna().sum())

      PLAYER_NAME  year    PER COUNTRY      continent   AGE DRAFT_YEAR  \
0   Kevin Garnett  2003  26.46     USA  North America  27.0       1995
1   Desmond Mason  2003  15.40     USA  North America  25.0       2000
2     Troy Murphy  2003  15.38     USA  North America  23.0       2001
3  Scottie Pippen  2003  15.36     USA  North America  37.0       1987
4     Vlade Divac  2003  15.25  Serbia         Europe  35.0       1989

   year_max_per  max_per  player_min_year
0          2004    29.50             2003
1          2004    15.66             2003
2          2010    18.07             2003
3          2003    15.36             2003
4          2004    16.29             2003
              year          PER          AGE  year_max_per      max_per  \
count  6863.000000  6863.000000  6807.000000   6863.000000  6863.000000
mean   2012.770363    14.331237    27.045541   2012.300160    17.385353
std       5.766744     4.328504     4.203707      6.067814     4.623310
min    2003.000000     0.000000    19.000000   2003.000000     0.000000
25%    2008.000000    11.320000    24.000000   2007.000000    14.250000
50%    2013.000000    13.880000    27.000000   2012.000000    16.820000
75%    2018.000000    16.740000    30.000000   2018.000000    20.020000
max    2022.000000    32.940000    43.000000   2022.000000    32.940000

       player_min_year
count      6863.000000
mean       2009.030307
std           5.630926
min        2003.000000
25%        2003.000000
50%        2008.000000
75%        2013.000000
max        2022.000000
PLAYER_NAME         0
year                0
PER                 0
COUNTRY            56
continent          56
AGE                56
DRAFT_YEAR         56
year_max_per        0
max_per             0
player_min_year     0
dtype: int64

First, we see some nulls to take care. <br>
We need to decide which years are relevant.

In [34]:
piv = df.pivot_table(index = 'DRAFT_YEAR',
                     columns='year',
                     values='PER',
                     aggfunc='count',
                     fill_value = 0)

print(piv)

year        2003  2004  2005  2006  2007  2008  2009  2010  2011  2012  2013  \
DRAFT_YEAR
1984           3     0     0     0     0     0     0     0     0     0     0
1985           2     1     0     0     0     0     0     0     0     0     0
1986           1     0     0     0     0     0     0     0     0     0     0
1987           4     3     1     0     0     0     0     0     0     0     0
1988           4     1     0     0     0     0     0     0     0     0     0
1989           5     2     1     1     1     0     0     0     0     0     0
1990          10     7     4     3     1     0     0     0     0     0     0
1991           5     6     4     1     1     1     0     0     0     0     0
1992          12    12    11     5     4     2     1     1     1     0     0
1993          17    16    12     3     3     1     0     0     0     0     0
1994          14    14    14     7     5     3     2     3     3     2     1
1995          21    19    18    13    11     9     8     8     3     2     2
1996          24    25    21    17    15    13    10    10     8     6     5
1997          22    25    23    19    16    13    11     5     5     5     2
1998          31    27    27    24    21    20    16    11     8     8     6
1999          24    24    23    22    19    17    16    13    14    10     9
2000          27    27    28    26    20    16    15    11    10     9     3
2001          28    28    28    26    24    23    20    19    16    17    13
2002          20    25    24    21    18    25    18    15    13    13    10
2003           0    25    32    35    33    32    30    30    26    26    23
2004           0     0    25    32    26    26    21    23    23    23    21
2005           0     0     0    25    35    30    31    29    31    28    24
2006           0     0     0     0    29    28    26    23    20    19    15
2007           0     0     0     0     0    28    29    27    30    23    24
2008           0     0     0     0     0     0    32    31    36    30    28
2009           0     0     0     0     0     0     0    32    31    34    38
2010           0     0     0     0     0     0     0     0    22    25    24
2011           0     0     0     0     0     0     0     0     0    32    31
2012           0     0     0     0     0     0     0     0     0     0    28
2013           0     0     0     0     0     0     0     0     0     0     0
2014           0     0     0     0     0     0     0     0     0     0     0
2015           0     0     0     0     0     0     0     0     0     0     0
2016           0     0     0     0     0     0     0     0     0     0     0
2017           0     0     0     0     0     0     0     0     0     0     0
2018           0     0     0     0     0     0     0     0     0     0     0
2019           0     0     0     0     0     0     0     0     0     0     0
2020           0     0     0     0     0     0     0     0     0     0     0
2021           0     0     0     0     0     0     0     0     0     0     0
Undrafted     33    32    33    39    41    35    39    37    34    36    34

year        2014  2015  2016  2017  2018  2019  2020  2021  2022
DRAFT_YEAR
1984           0     0     0     0     0     0     0     0     0
1985           0     0     0     0     0     0     0     0     0
1986           0     0     0     0     0     0     0     0     0
1987           0     0     0     0     0     0     0     0     0
1988           0     0     0     0     0     0     0     0     0
1989           0     0     0     0     0     0     0     0     0
1990           0     0     0     0     0     0     0     0     0
1991           0     0     0     0     0     0     0     0     0
1992           0     0     0     0     0     0     0     0     0
1993           0     0     0     0     0     0     0     0     0
1994           0     0     0     0     0     0     0     0     0
1995           1     1     1     0     0     0     0     0     0
1996           3     1     1     0     0     0     0     0     0
1997           1     1     1     0     0     0     0     0     0
1998           6     3     3     2     2     2     1     0     0
1999           6     4     3     2     2     0     0     0     0
2000           3     3     1     1     1     1     0     0     0
2001           9     7     6     6     5     2     0     0     0
2002           8     9     5     2     0     0     0     0     0
2003          18    19    14     8     6     4     3     2     2
2004          16    17    15    12     7     4     2     3     2
2005          24    20    18    16    12     8     5     2     2
2006          14    13    10    10     8     8     7     7     5
2007          22    22    20    18    11    10     7     6     5
2008          29    31    26    24    21    16    14    15    12
2009          31    28    26    24    19    19    12    13    12
2010          24    21    21    19    18    15     8    10     9
2011          32    32    31    31    23    24    20    17    15
2012          32    32    28    26    26    21    18    16    15
2013          20    33    30    29    26    24    24    24    17
2014           0    21    25    30    28    29    26    21    19
2015           0     0    27    30    34    32    25    26    24
2016           0     0     0    23    29    27    29    22    17
2017           0     0     0     0    31    36    32    27    25
2018           0     0     0     0     0    30    41    35    34
2019           0     0     0     0     0     0    27    39    35
2020           0     0     0     0     0     0     0    30    34
2021           0     0     0     0     0     0     0     0    32
Undrafted     35    44    35    41    43    48    55    57    59

In [86]:
df_undrafted = df[df['DRAFT_YEAR']=='Undrafted'].reset_index()
print(df_undrafted.nlargest(5,'PER'))


undrafted_pivot = df_undrafted.pivot_table(
    df_undrafted[['PER']],
    index = 'year',
    aggfunc= ('count','max','mean')
)

print(undrafted_pivot)

     index       PLAYER_NAME  year    PER      COUNTRY      continent   AGE  \
480   4454  Boban Marjanovic  2016  27.77       Serbia         Europe  27.0
603   5526  Boban Marjanovic  2019  24.25       Serbia         Europe  30.0
686   6033    Christian Wood  2020  23.22          USA  North America  24.0
702   6212     Chris Boucher  2021  21.97  Saint Lucia  North America  28.0
182   1741     Jose Calderon  2008  20.77        Spain         Europe  26.0

    DRAFT_YEAR  year_max_per  max_per  player_min_year
480  Undrafted          2016    27.77             2016
603  Undrafted          2016    27.77             2016
686  Undrafted          2020    23.22             2020
702  Undrafted          2021    21.97             2020
182  Undrafted          2008    20.77             2006
       PER
     count    max       mean
year
2003    33  18.80  11.116970
2004    32  20.13  12.499375
2005    33  20.72  12.464242
2006    39  19.88  12.641282
2007    41  19.19  12.482439
2008    35  20.77  11.648000
2009    39  18.80  11.261026
2010    37  16.58  11.488378
2011    34  19.03  12.022941
2012    36  19.97  11.752500
2013    34  18.80  12.217941
2014    35  18.56  11.870000
2015    44  19.51  12.093864
2016    35  27.77  12.714000
2017    41  19.59  12.166341
2018    43  17.84  11.982558
2019    48  24.25  11.991250
2020    55  23.22  11.968727
2021    57  21.97  12.206316
2022    59  19.18  12.859492

Looks like there is some great information we're missing. We'll get back to this later. <br>
For now, let's check the hypothesis on the drafted players only (For simplicity). <br>

Clean data - nulls, use the relevant years (So the players have time to reach the maximum PER). <br>
Calculate the KPI- Time to reach the maximum PER (in Years). <br>
Defined as the difference between the year when the player reached the maximum PER and the Draft year.

In [88]:
df_use = df[df['DRAFT_YEAR']!='Undrafted']
df_use = df_use[df_use['DRAFT_YEAR'].notna()]
print(df_use.isna().sum())

df_use = df_use[(df_use['DRAFT_YEAR'].astype(int) < 2017) & (df_use['DRAFT_YEAR'].astype(int) > 2003)]

df_use['time_to_max'] = df_use['year_max_per'] - df_use['DRAFT_YEAR'].astype(int)

print(df_use.describe())
print(df_use.head())

PLAYER_NAME        0
year               0
PER                0
COUNTRY            0
continent          0
AGE                0
DRAFT_YEAR         0
year_max_per       0
max_per            0
player_min_year    0
dtype: int64
              year          PER          AGE  year_max_per      max_per  \
count  3343.000000  3343.000000  3343.000000   3343.000000  3343.000000
mean   2014.910260    14.894921    25.918935   2014.906372    18.109698
std       4.246838     4.303676     3.515250      4.153535     4.535793
min    2005.000000     0.000000    19.000000   2005.000000     0.000000
25%    2012.000000    11.935000    23.000000   2012.000000    15.090000
50%    2015.000000    14.480000    26.000000   2015.000000    17.670000
75%    2018.000000    17.345000    28.000000   2018.000000    20.810000
max    2022.000000    32.940000    38.000000   2022.000000    32.940000

       player_min_year  time_to_max
count      3343.000000  3343.000000
mean       2010.776548     5.561472
std           3.735177     2.706527
min        2005.000000     0.000000
25%        2008.000000     4.000000
50%        2010.000000     5.000000
75%        2014.000000     7.000000
max        2021.000000    14.000000
        PLAYER_NAME  year    PER         COUNTRY      continent   AGE  \
652  Josh Childress  2005  15.22             USA  North America  22.0
654      Josh Smith  2005  15.46             USA  North America  19.0
659    Emeka Okafor  2005  16.39             USA  North America  22.0
688      Beno Udrih  2005  14.31        Slovenia         Europe  22.0
691       Luol Deng  2005  14.20  United Kingdom         Europe  20.0

    DRAFT_YEAR  year_max_per  max_per  player_min_year  time_to_max
652       2004          2008    18.00             2005            4
654       2004          2012    21.14             2005            8
659       2004          2007    20.15             2005            3
688       2004          2017    16.20             2005           13
691       2004          2007    18.79             2005            3

The years taken: <br>
Drafted before 2017 (let's give all players at least 5 years of Per). <br>
Drafted after 2003 (Start from players with 0 experience). <br>

Now, Let's check the hypothesis and see the time that takes to the players to reach the maximum PER, by continent.

In [82]:
pivot_by_cont = df_use.pivot_table(
     df_use[['time_to_max']],
     index = 'continent'
)
print(pivot_by_cont)

               time_to_max
continent
Africa            5.921053
Asia              6.584906
Europe            6.322816
North America     5.404482
Oceania           5.800000
South America     6.233333